<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flyway.passenger.mapper.PassengerPassportMapper">

    <update id="updatePassengerPassport">
        UPDATE passenger p
        JOIN reservation r ON r.reservation_id = p.reservation_id
        <set>
            passport_no = #{passportNo},
            passport_issue_country = #{issueCountry},
            passport_expiry_date = #{expiryDate},
            country = #{country},
            passport_status = #{status},
            passport_submitted_at = #{submittedAt}
        </set>
        WHERE p.passenger_id = #{passengerId}
          AND p.reservation_id = #{reservationId}
          AND r.user_id = #{userId}
    </update>

</mapper>
