<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flyway.user.mapper.UserProfileMapper">

    <!-- 회원가입 시 프로필 기본 row 생성 (user_id, name) -->
    <insert id="insertProfile" parameterType="com.flyway.user.domain.UserProfile">
        INSERT INTO user_profile (
            user_id,
            name
        ) VALUES (
                     #{userId},
                     #{name}
                 )
    </insert>

    <!-- user_id로 프로필 조회 -->
    <select id="findByUserId" parameterType="string" resultType="com.flyway.user.domain.UserProfile">
        SELECT user_id,
               name,
               passport_no,
               country,
               gender,
               first_name,
               last_name
        FROM user_profile
        WHERE user_id = #{userId}
    </select>

    <!-- 프로필 업데이트: 입력된 값만 업데이트 (동적 SQL) -->
    <update id="updateProfile" parameterType="com.flyway.user.domain.UserProfile">
        UPDATE user_profile
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="passportNo != null">passport_no = #{passportNo},</if>
            <if test="country != null">country = #{country},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="firstName != null">first_name = #{firstName},</if>
            <if test="lastName != null">last_name = #{lastName},</if>
        </set>
        WHERE user_id = #{userId}
    </update>

    <!-- user_profile 개인정보 NULL 처리 -->
    <update id="nullifyProfileIfWithdrawn">
        UPDATE user_profile up
            JOIN users u ON u.user_id = up.user_id
        SET
            up.passport_no = NULL,
            up.first_name  = NULL,
            up.last_name   = NULL,
            up.name        = #{maskedName}
        WHERE up.user_id = #{userId}
          AND u.status = 'WITHDRAWN'
    </update>

</mapper>
