.header {
  background-color: var(--color-white);
  padding: 24px 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.header__content {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header__logo img {
  height: 42px;
  width: auto;
}

.header__menu {
  display: flex;
  gap: var(--spacing-xl);
  align-items: center;
}

.header__menu-item {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-muted);
  text-decoration: none;
  transition: color 0.2s;
}

.header__menu-item:hover {
  color: var(--color-primary);
}

.header__margin {
  width: 100vw;
  height: 95px
}

.banner {
  height: 162px;
  background-color: var(--color-bg-banner);
}


.header__menu-item--logout {
  font-family: var(--font-family-primary);;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-muted);
  text-decoration: none;
  transition: color 0.2s;
  border: none;
  background: none;
  cursor: pointer;
}
